html, body, .root {
    height: 100%;
}

body {
    line-height: 1.5;
}
/********* LIST BOOKS *********/
.list-books-title {
    padding: 10px 0;
    background: #1abc9c;
    text-align: center;
}
.list-books-title h1 {
    margin: 0;
    font-weight: 400;
    color: #fff;
}

/* open search */
.open-search {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.open-search a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;
    background: #1abc9c 
                url('./icons/add.svg') 
                center/28px 
                no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/********* BOOK *********/
.book {
    width: 140px;
}

.book-cover {
    width: 130px;
    height: 200px;
}

.book-title,
.book-authors {
    font-size: 0.8em;
}

.book-title {
    margin-top: 10px;
}

.book-authors {
    color: #999;
}

.book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }

/* shelf changer */
.book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1abc9c 
                url('./icons/arrow-drop-down.svg') 
                center/20px 
                no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
/********* BOOKSHELF *********/
.bookshelf {
    padding: 20px 20px;
}

.bookshelf-title {
    margin: 0;
    border-bottom: 1px solid #dedede;
}

.bookshelf-books {
    padding-top: 30px;
}

.books-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.books-grid li {
    padding: 10px 15px;
    text-align: left;
  }

/********* SEARCH *********/
.search-books-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-bar a {
    display: block;
    width: 50px;
    height: 50px;
    background: #fff 
    url('./icons/arrow-back.svg') 
    center/28px 
    no-repeat;
    font-size: 0;
}

.search-books-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 10px;
    font-size: 1.25em;
}